@import "../../../variables";

.filter-section-heading {
  border-bottom: 3px solid $info;
  max-width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $font-family-headings;
  font-size: large;
}

.facet-heading {
  font-family: $font-family-headings;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  //border: none;
  justify-content: space-between;
  & .facet-heading-caret {
    transition: all 0.3s;
    //font-size: large;
  }
}

.facet-heading:focus {
  box-shadow: none;
}

.facet-heading[aria-expanded="true"] {
  & .facet-heading-caret {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
}

.facet-section {
  background-color: $gray-100;
}
