@import "../../variables";

.search-bar-type-ahead.rbt:not(:last-child) .form-control {
  min-height: 50px;
}

.search-bar-type-ahead > .rbt-input-multi .rbt-input-main {
  margin: 8px 0 4px !important;
}

div.search-bar-type-ahead div.rbt-token {
  margin: 8px 3px 2px 0 !important;
}

div.rbt-token {
  background-color: $info !important;
  color: #fff !important;
}
