@import "../../variables";

.input-group > .rbt:not(:last-child) .form-control {
  min-height: 50px;
}

.rbt-input-multi .rbt-input-main {
  margin: 8px 0 4px !important;
}

.rbt-token {
  margin: 8px 3px 2px 0 !important;
  background-color: $secondary !important;
  color: #fff !important;
}
