@import "../../variables";

.footer-heading {
  border-bottom: 3px solid $secondary;
  max-width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $font-family-headings;
}
