@import "../../variables";

.main-nav {
  transition: all 0.5s ease;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: $dark;
  &hover {
    border-bottom: 4px solid $secondary;
    padding-bottom: 4px;
    max-width: max-content;
  }
  padding: 0.5rem 0rem;
}

.navbar-brand > img {
  height: 52px;
}

// .nav-link:hover {
//   border-bottom: 4px solid $secondary;
//   padding-bottom: 4px;
//   max-width: max-content;
// }

.dropdown-toggle::after {
  transition: transform 0.3s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}

.dropdown .dropdown-menu {
  -webkit-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0.3s,
    border-width 0s 0.3s, padding 0s 0.3s;
  -moz-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0.3s,
    border-width 0s 0.3s, padding 0s 0.3s;
  -ms-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0.3s,
    border-width 0s 0.3s, padding 0s 0.3s;
  -o-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0.3s,
    border-width 0s 0.3s, padding 0s 0.3s;
  transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0.3s,
    border-width 0s 0.3s, padding 0s 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  padding: 0px;
  border-width: 0px;
}

.dropdown.show .dropdown-menu {
  -webkit-transition: max-height 0.5s, opacity 0.2s, visibility 0s,
    border-width 0s 0.3s, padding 0s;
  -moz-transition: max-height 0.5s, opacity 0.2s, visibility 0s,
    border-width 0s 0.3s, padding 0s;
  -ms-transition: max-height 0.5s, opacity 0.2s, visibility 0s,
    border-width 0s 0.3s, padding 0s;
  -o-transition: max-height 0.5s, opacity 0.2s, visibility 0s,
    border-width 0s 0.3s, padding 0s;
  transition: max-height 0.5s, opacity 0.2s, visibility 0s, padding 0s;

  max-height: 600px;
  opacity: 1;
  visibility: visible;
  padding: 0.5rem 0;
}

@media (min-width: 768px) {
  .dropdown.show .dropdown-menu {
    border: 3px solid rgba(0, 0, 0, 0.15);
  }
  .nav-link {
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff !important;
    background-color: $primary;
    &:hover {
      background-color: darken($primary, 15%) !important;
    }
  }
  .nav-item.dropdown > .nav-link {
    background-color: $secondary !important;
    color: $dark !important;
    &:hover {
      background-color: lighten($secondary, 15%) !important;
    }
  }
}

@media (min-width: 1000px) {
  .nav-link {
    padding: 0.25rem 1.5rem !important;
  }
  .navbar-brand > img {
    height: 70px;
  }
}

.dropdown-item {
  text-transform: uppercase;
  text-align: center;
}

.navbar-light .navbar-toggler {
  border-color: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
