// PDCM Web UI Bootstrap theme variables
$primary: #436798;
$secondary: #15bfae;
$success: #449843;
$danger: #ed5a5a;
$info: #6097d1;
$warning: #ffa646;
$light: #c7d2e3;
$dark: #303b49;
$enable-gradients: false;
$spacer: 0.7rem;
$border-width: 1px;
$btn-border-radius: 5px;
$btn-border-radius-sm: 5px;
$border-radius: 5px;
$component-active-bg: $primary;
$font-family-base: "Hind Madurai", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
$font-family-headings: "Maven Pro", Helvetica, Arial, sans-serif;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$line-height-base: 2;
