// PDCM Web UI Bootstrap theme variables
$primary: #0032a0;
$secondary: #00b2d5;
$success: #72cfaf;
$danger: #dc3545;
$info: #17a2b8;
$warning: #ffc107;
$light: #f8f9fa;
$dark: #2f2e3b;
$enable-gradients: false;
$spacer: 0.7rem;
$border-width: 1px;
$btn-border-radius: 0;
$border-radius: 0;
$component-active-bg: $primary;
$font-family-base: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
$font-family-headings: "Maven Pro", Helvetica, Arial, sans-serif;
