@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&display=swap");

.pdcm-heading {
  font-family: $font-family-headings;
}

h1 {
  font-family: $font-family-headings;
}

th {
  font-family: $font-family-headings;
}

/* ANIMATED TOGGLE FOR MOBILE NAV BAR */

.navbar-toggler.uarr {
  border: none;
  &:focus {
    outline: none;
  }
  &:not(.collapsed) {
    .icon-bar {
      &:nth-of-type(1) {
        transform: translate3d(1px, 0, 0) rotate(-45deg);
        transform-origin: center center;
        width: 11px;
      }
      &:nth-of-type(2) {
        transform: rotate(-90deg);
        transform-origin: center center;
      }
      &:nth-of-type(2).filter {
        transform: rotate(-90deg);
        transform-origin: center center;
        width: 22px;
      }
      &:nth-of-type(3) {
        transform: translate3d(0px, -14px, 0) rotate(-135deg);
        transform-origin: right top;
        width: 11px;
      }
    }
  }
  .icon-bar {
    width: 22px;
    display: block;
    height: 2px;
    background-color: #7f7f7f;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    & + .icon-bar {
      margin-top: 4px;
    }
    &:nth-of-type(1) {
      transform: translate3d(0, 0, 0) rotate(0deg);
      width: 22px;
    }
    &:nth-of-type(2) {
      transform: translate3d(0, 0, 0) rotate(0deg);
    }
    &:nth-of-type(3) {
      transform: translate3d(0, 0, 0) rotate(0deg);
      width: 22px;
    }
  }
  .icon-bar.filter {
    width: 24px;
    display: block;
    height: 2px;
    background-color: #7f7f7f;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    & + .icon-bar {
      margin-top: 4px;
    }
    &:nth-of-type(1) {
      transform: translate3d(0, 0, 0) rotate(0deg);
      width: 24px;
    }
    &:nth-of-type(2) {
      transform: translate3d(6px, 0, 0) rotate(0deg);
      width: 12px;
    }
    &:nth-of-type(3) {
      transform: translate3d(9px, 0, 0) rotate(0deg);
      width: 6px;
    }
  }
}

@import "~bootstrap/scss/bootstrap.scss";
