// Override default variables before the import
$primary: #0032a0;
$secondary: #00b2d5;
$success: #72cfaf;
$danger: #dc3545;
$info: #17a2b8;
$warning: #ffc107;
$light: #f8f9fa;
$dark: #2f2e3b;
$enable-gradients: false;
$spacer: 0.7rem;
$border-width: 3px;
$btn-border-radius: 0;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
